/*======= RESET =======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  /*  adaptar ao tamanho mesmo que a imagem seja maior*/
  width: 100%;
  height: auto;
}

/*======= BASE =======*/
body {
  font: 400 1rem 'DM Sans', sans-serif;
}
 h1 {
   font: 700 1.875rem 'Poppins', sans-serif;
 }
/*======= ? =======*/
:root{
  font-size: 100%; /* 16px */
}

/*======= LAYOUT =======*/
#header {
  height: 4,5rem; /* resposivo com base no 'root element' */
}

nav {
  display: flex;
  justify-content: space-between; /* elementos nas estremidades*/
}

.logo {

}

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*======= HOME =======*/